log
{
	font-size:20px;
	font-family:"Calibri";
	margin-top:10px;
	width:30%;
	margin-right:auto;
	margin-left:auto;
}
log:before
{
	content:"Island log:";
	font-weight:bold;
	font-size:30px;
	display:block;
	text-align:center;
	margin-bottom:10px;
}

array
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-bottom:10px;
	border-radius:40px;
	width:55%;
}

array:hover
{
    cursor:crosshair;
}



/*
Useless but cool colors
*/
contracts:hover
{
    color:red;
}
heading:hover
{
    color:red;
}
men:hover
{
    color:red;
}
budget:hover
{
    color:red;
}
action:hover
{
    color:blue;
}
direction:hover
{
    color:blue;
}
cost:hover
{
    color:red;
}
found:hover
{
    color:red;
}
array[id=from_server]>data>extras>range:hover
{
    color:red;
}
found_biomes:hover
{
    color:red;
}
array[id=from_server]>data>extras>creek:hover
{
    color:red;
}
array[id=from_client]>data>parameters>creek:hover
{
    color:blue;
}
creeks:hover
{
    color:red;
}
people:hover
{
    color:blue;
}
asked_range:hover
{
    color:red;
}
report:hover
{
    color:red;
}
altitude:hover
{
    color:red;
}
explored_resources:hover
{
    color:red;
}
array[id=from_client]>data>parameters>resource:hover
{
    color:blue;
}
array[id=from_server]>data>extras>amount:hover
{
    color:red;
}
craft_resources:hover
{
    color:blue;
}
production:hover
{
    color:red;
}
kind:hover
{
    color:red;
}


array[id=from_client]
{
	background-color:#04B431;
	margin-right:0px;
	margin-left:auto;
	color:white;
}

array[id=from_server]
{
	background-color:#E6E6E6;
	margin-right:auto;
	margin-left:0px;
}
array[id=from_server]:after
{
    content:"";
    display:block;
    margin-bottom:50px;
}

array[id=init]
{
	background-color:#EEEFFF;
	width:100%;
}
array[id=init]:before
{
	content:"Initialisation:";
	font-weight:bold;
	font-size:20px;
	display:block;
	text-align:center;
	padding-bottom:10px;
	margin-top:10px;
}

heading
{
	font-weight:bold;
}
heading:before
{
	content:"Heading:";
	display:block;
	font-weight:normal;
}
heading:after
{
	content:"";
	display:block;
	margin-top:10px;
}

men
{
	font-weight:bold;
}
men:before
{
	content:"Men:";
	display:block;
	font-weight:normal;
}
men:after
{
	display:block;
	margin-top:10px;
	font-weight:normal;
}

contracts
{
	font-weight:bold;
}
contracts:before
{
	content:"Contracts:";
	display:block;
	font-weight:normal;
}
contracts:after
{
	display:block;
	margin-top:10px;
	font-weight:normal;
}

contract
{
	font-weight:bold;
}
contract:before
{
	content:"";
	display:block;
	font-weight:normal;
}
contract:after
{
	display:block;
	margin-top:10px;
	font-weight:normal;
}

budget
{
	font-weight:bold;
}
budget:before
{
	margin-top:10px;
	content:"Budget:";
	display:block;
	font-weight:normal;
}
budget:after
{
	content:"";
	display:block;
	margin-top:10px;
}

part
{
	font-weight:bold;
}
part:before
{
	content:"Part:";
	display:block;
	font-weight:normal;
}
part:after
{
	content:"";
	display:block;
	margin-top:10px;
}

time
{
	font-weight:bold;
}
time:before
{
	content:"Time:";
	display:block;
	font-weight:normal;
}
time:after
{
	content:"";
	display:block;
	margin-top:10px;
}

action
{
	font-weight:bold;
}
action:before
{
	content:"Action:";
	display:block;
	font-weight:normal;
}
action:after
{
	content:"";
	display:block;
	margin-top:10px;
}

message
{
	font-weight:bold;
}
message:before
{
	content:"Message:";
	display:block;
	font-weight:normal;
}
message:after
{
	content:"";
	display:block;
	margin-top:10px;
}

direction
{
	font-weight:bold;
}
direction:before
{
	content:"Direction:";
	display:block;
	font-weight:normal;
}
direction:after
{
	content:"";
	display:block;
	margin-top:10px;
}

cost
{
	font-weight:bold;
}
cost:before
{
	content:"Cost:";
	display:block;
	font-weight:normal;
}
cost:after
{
	content:"";
	display:block;
	margin-top:10px;
}

found
{
	font-weight:bold;
}
found:before
{
	content:"Found:";
	display:block;
	font-weight:normal;
}
found:after
{
	content:"";
	display:block;
	margin-top:10px;
}

range
{
	font-weight:bold;
}
range:before
{
	content:"Range:";
	display:block;
	font-weight:normal;
}
range:after
{
	content:"";
	display:block;
	margin-top:10px;
}

status
{
	font-weight:bold;
}
status:before
{
	content:"Status:";
	display:block;
	font-weight:normal;
}
status:after
{
	content:"";
	display:block;
	margin-top:10px;
}

explored_resources>resources
{
    display:block;
}

status
{
	font-weight:bold;
}
status:before
{
	content:"Found biomes:";
	display:block;
	font-weight:normal;
}
status:after
{
	content:"";
	display:block;
	margin-top:10px;
}

pois
{
	font-weight:bold;
}
pois:before
{
	content:"Points of interest:";
	display:block;
	font-weight:normal;
}
pois:after
{
	content:"";
	display:block;
	margin-top:10px;
}

kind
{
	font-weight:bold;
}
kind:before
{
	content:"Kind:";
	display:block;
	font-weight:normal;
}
kind:after
{
	content:"";
	display:block;
	margin-top:10px;
}

id
{
	font-weight:bold;
}
id:before
{
	content:"Id:";
	display:block;
	font-weight:normal;
}
id:after
{
	content:"";
	display:block;
	margin-top:10px;
}

altitude
{
	font-weight:bold;
}
altitude:before
{
	content:"Altitude:";
	display:block;
	font-weight:normal;
}
id:after
{
	content:"";
	display:block;
	margin-top:10px;
}

explored_resources>amount
{
	font-weight:bold;
}
explored_resources>amount:before
{
	content:"Amount:";
	display:block;
	font-weight:normal;
}
explored_resources>amount:after
{
	content:"";
	display:block;
	margin-top:10px;
}

extras>amount
{
	font-weight:bold;
}
extras>amount:before
{
	content:"Amount:";
	display:block;
	font-weight:normal;
}
extras>amount:after
{
	content:"";
	display:block;
	margin-top:10px;
}

found_biomes
{
	font-weight:bold;
}
found_biomes:before
{
	content:"Found biomes:";
	display:block;
	font-weight:normal;
}
found_biomes:after
{
	content:"";
	display:block;
	margin-top:10px;
}

found_biomes>biome
{
    display:block;
}

explored_resources
{
	font-weight:bold;
}
explored_resources:before
{
	content:"Found resources:";
	display:block;
	font-weight:normal;
}
explored_resources:after
{
	content:"";
	display:block;
	margin-top:10px;
}

production
{
	font-weight:bold;
}
production:before
{
	content:"Production:";
	display:block;
	font-weight:normal;
}
production:after
{
	content:"";
	display:block;
	margin-top:10px;
}

craft_resources
{
	font-weight:bold;
}
craft_resources:before
{
	content:"Resources:";
	display:block;
	font-weight:normal;
}
craft_resources:after
{
	content:"";
	display:block;
	margin-top:10px;
}

parameters>resource>*
{
    font-weight:bold;
}

FISH
{
    font-weight:bold;
}
FISH:before
{
	content:"FISH:";
	display:block;
	font-weight:normal;
}
FISH:after
{
	content:"";
	display:block;
	margin-top:10px;
}


FLOWER
{
    font-weight:bold;
}
FLOWER:before
{
	content:"FLOWER:";
	display:block;
	font-weight:normal;
}
FLOWER:after
{
	content:"";
	display:block;
	margin-top:10px;
}

FRUITS
{
    font-weight:bold;
}
FRUITS:before
{
	content:"FRUITS:";
	display:block;
	font-weight:normal;
}
FRUITS:after
{
	content:"";
	display:block;
	margin-top:10px;
}

FUR
{
    font-weight:bold;
}
FUR:before
{
	content:"FUR:";
	display:block;
	font-weight:normal;
}
FUR:after
{
	content:"";
	display:block;
	margin-top:10px;
}


ORE
{
    font-weight:bold;
}
ORE:before
{
	content:"ORE:";
	display:block;
	font-weight:normal;
}
ORE:after
{
	content:"";
	display:block;
	margin-top:10px;
}


QWARTZ
{
    font-weight:bold;
}
QWARTZ:before
{
	content:"QWARTZ:";
	display:block;
	font-weight:normal;
}
QWARTZ:after
{
	content:"";
	display:block;
	margin-top:10px;
}


SUGAR_CANE
{
    font-weight:bold;
}
SUGAR_CANE:before
{
	content:"SUGAR_CANE:";
	display:block;
	font-weight:normal;
}
SUGAR_CANE:after
{
	content:"";
	display:block;
	margin-top:10px;
}

WOOD
{
    font-weight:bold;
}
WOOD:before
{
	content:"WOOD:";
	display:block;
	font-weight:normal;
}
WOOD:after
{
	content:"";
	display:block;
	margin-top:10px;
}




creeks
{
    font-weight:bold;
}
creeks:before
{
	content:"Creek:";
	display:block;
	font-weight:normal;
}
creeks:after
{
	content:"";
	display:block;
	margin-top:10px;
}


creek
{
    font-weight:bold;
}
creek:before
{
	content:"Creek:";
	display:block;
	font-weight:normal;
}
creek:after
{
	content:"";
	display:block;
	margin-top:10px;
}

people
{
    font-weight:bold;
}
people:before
{
	content:"People:";
	display:block;
	font-weight:normal;
}
people:after
{
	content:"";
	display:block;
	margin-top:10px;
}


asked_range
{
    font-weight:bold;
}
asked_range:before
{
	content:"Asked range:";
	display:block;
	font-weight:normal;
}
asked_range:after
{
	content:"";
	display:block;
	margin-top:10px;
}

report
{
    font-weight:bold;
}
report:before
{
	content:"Report:";
	display:block;
	font-weight:normal;
}
report:after
{
	content:"";
	display:block;
	margin-top:10px;
}


report>array
{
    font-weight:bold;
}
report>array:before
{
	content:"";
	display:block;
	font-weight:normal;
}
report>array:after
{
	content:"";
	display:block;
	margin-top:10px;
}

statistiques
{
    float:center;
    background-color:#F2F5A9;
    border-radius:40px;
    display:block;
    text-align:center;
}
statistiques:hover
{
    display:block;
    cursor:crosshair;
}

statistiques>*
{
    display:block;
    margin-left:20px;
    margin-right:20px;
}
statistiques>*:hover
{
    color:red;
}

total,restant,cout_moyen,distance
{
    font-style:italic;
}


stat
{
    font-weight:bold;
    text-align:center;
}
stat:hover
{
    color:black;
}
stat:after
{
    content:"";
    margin-bottom:10px;
    display:block;
}





balises
{
    font-weight:bold;
}
balises:before
{
	content:"Balises:";
	display:block;
	font-weight:normal;
}
balises:after
{
	content:"";
	display:block;
	margin-top:10px;
}



array>*
{
	display:block;
}

data>*
{
	display:inline;
}

liste>*
{
    display:none;
}


meth
{
	display:none;
}

message
{
	display:none;
}

part
{
	display:none;
}

status
{
	display:none;
}

time
{
	display:none;
}

ex
{
	display:none;
}